<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script language="javascript" type="text/javascript" src="{% static 'script.css' %}"></script>


<html>
<head>
	<div id="topnav">
		{% block usermenu %}{% endblock %} | {% block navmenu %}{% endblock %}
	</div>

	<div id="title">
		<h1>{% block title %}{% endblock %}</h1>

		<div id="logo">
			<a>  <a href="/"> <img src={% static "media/crow.jpg" %} height="120"></a>   
		</div>        
	</div>
	
</head>

<body>
	<div id="nav">
      {% block nav_block %}{% endblock %}
   </div>

      {% block body_block %}{% endblock %}
</body>
</html>