{% extends 'base.html' %}
{% load staticfiles %}

{% block usermenu %}login{% endblock %}
{% block navmenu %} <a href="/">kråkeredet</a> &middot; <a href="/tournament/">disipliner</a> {% endblock %}


{% block title %}Disipliner{% endblock %}

{% block nav_block %}


{% for disc in disciplines %}
<div  id="test"  >  <a href="/discipline/{{ disc.pk }}/"> {{ disc.name }} </a>	</div>
{% endfor %}

<div class="bg">
<img src={% static "media/vinter.jpg" %} width="100%">
</div>

{% endblock %}

{% block body_block %}


{% endblock %}
