{% extends 'discipline_list.html' %}
{% load staticfiles %}

{% block usermenu %}login{% endblock %}
{% block navmenu %} <a href="/">kråkeredet</a> &middot; <a href="/discipline/">disipliner</a> &middot; {{discipline.name|lower}}{% endblock %}






{% block title %}{{discipline.name}}{% endblock %}

{% block body_block %}
<div id="body">

{% if discipline.image %}
<div style="float:right; width:30%; margin:10px;"> 
	<img src={{discipline.image.url}} width="100%">
</div>
{% endif %}

<div style="float:left">
			<table>
	   			<caption> Top 5</caption>
					<thead>
						<tr>  <th>Name</th> <th>Score</th> <th>Date</th> </tr>			
					</thead>
					<tbody>
					{% for record in top_5 %}
						<tr>
   						<td> <a href="/user/{{ record.user.pk }}/">{{record.user.name}} </a> </td><td>{{record.score}}</td><td>{{record.standings.tournament.date|date:"Y"}}</td>
						</tr>		
					{% endfor %}
				</tbody>
			</table>   		
</div>

<div style="clear:both;">
{{discipline.description}}
</div>


</div>
{% endblock %}