<script>

var styleArray = [
  {
    featureType: "all",
    stylers: [
      { saturation: -80 }
    ]
  },{
    featureType: "road.arterial",
    elementType: "geometry",
    stylers: [
      { hue: "#00ffee" },
      { saturation: 50 }
    ]
  },{
    featureType: "poi.business",
    elementType: "labels",
    stylers: [
      { visibility: "off" }
    ]
  }
];


var map;

{% if coord %}
var coord = {{coord}}
{% endif %}



function initialize()
{

function displayCoordinates(pnt) {

          var lat = pnt.lat();
          lat = lat.toFixed(4);
          var lng = pnt.lng();
          lng = lng.toFixed(4);
          console.log("Latitude: " + lat + "  Longitude: " + lng);
          document.getElementById("lat").value= lat;
          document.getElementById("lon").value= lng;
      };



var mapProp = {
  center:new google.maps.LatLng(59.4037705,10.8099957),
  zoom:14,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
  disableDefaultUI: true
  };
map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);

google.maps.event.addListener(map, 'click', function (event) {
              displayCoordinates(event.latLng);  });

  
}

google.maps.event.addDomListener(window, 'load', initialize);

function addmarkers()
{
  
for(i=0;i<coord.length; i++){
myCenter=new google.maps.LatLng(coord[i][0],coord[i][1]);

marker=new google.maps.Marker({
  position:myCenter,
  });
  
marker.setMap(map);

}  


}


{% if coord %}
google.maps.event.addDomListener(window, 'load', addmarkers);
{% endif %}
</script>
