{% extends 'base.html' %}
{% load staticfiles %}

{% block usermenu %}login{% endblock %}
{% block navmenu %} <a href="/">kråkeredet</a>  {% endblock %}


{% block title %}Kråkeredet{% endblock %}

{% block nav_block %}
<ul>

    <li> <a href="/user/"> Kråker </a>	</li>
    <li> <a href="/tournament/"> Konkurranser </a>	</li>
    <li> <a href="/discipline/"> Disipliner </a>	</li>

</ul>
{% endblock %}


{% block body_block %}

<img src={% static "media/vansjo_1.jpg" %} width="555px">

{% endblock %}
