{% extends 'base.html' %}
{% load staticfiles %}

{% block navmenu %} <a href="/">kråkeredet</a>  {% endblock %}


{% block title %}Kråkeredet{% endblock %}

{% block nav_block %}


<div  id="test"  > <a href="/user/"> Kråker </a>   </div>
<div  id="test"  > <a href="/tournament/"> Konkurranser </a>   </div>
<div  id="test"  > <a href="/discipline/"> Disipliner </a>  </div>
<div  id="test"  > <a href="/fish/"> Fisk </a>  </div>
<div class="bg">
</div>



{% endblock %}


{% block body_block %}


{% endblock %}
