{% extends 'base.html' %}
{% load staticfiles %}

{% block navmenu %} <a href="/">kråkeredet</a>  {% endblock %}


{% block title %}Kråkeredet{% endblock %}

{% block nav_block %}


<div  id="menu"  > <a href="/user/" class="topmenu"> Kråker </a>   </div>
<div  id="menu"  > <a href="/tournament/" class="topmenu"> Konkurranser </a>   </div>
<div  id="menu"  > <a href="/discipline/" class="topmenu"> Disipliner </a>  </div>
<div  id="menu"  > <a class="topmenu" href="/fish/" > Fisk </a>  </div>

<div class="bg">
</div>



{% endblock %}


{% block body_block %}


{% endblock %}
