{% extends 'discipline_list.html' %}
{% load staticfiles %}


{% block title %}Rekorder{% endblock %}

{% block body_block %}
<div style="width:90%; height:90%; position:absolute; top:15%;">

{% for disc_name,rec_list in records.items %}
	{% if rec_list %}
		<div style="width:30%;width:30%;float:left;">
			<table>
   		<caption> <a href="/disiplin/1/">{{disc_name}}</a></caption>
			<thead>
			<tr>  <th>Name</th> <th>Score</th> </tr>			
			</thead>
			<tbody>
			{% for rec in rec_list|dictsortreversed:"score" %}
				<tr>
		   		<td> {{rec.name}} </td>
		   		<td>{{rec.score}} </td>
				</tr>		
			{% endfor %}
			</tbody>
			</table>   		
		</div>
	{%endif%}
{% endfor %}


</div>
{% endblock %}