{% extends 'base.html' %}







{% block title %}{{comp.name}} | {{comp.date}}{% endblock %}

{% block body_block %}
		{% for key, value in tournament.items %}
   		
			<table>
   		<caption> {{key }}</caption>
			<thead>
			<tr>  <th>Name</th> <th>Points</th> <th>Score</th> </tr>			
			</thead>
			<tbody>
			{% for name_pts in value %}
				<tr>
   		<td> {{name_pts.name}}</td><td>{{name_pts.points}}</td><td>{{name_pts.score}}</td>
				</tr>		
			{% endfor %}
			</tbody>
			</table>   		
   		
		{% endfor %}
{% endblock %}