{% extends 'base.html' %}
{% load staticfiles %}

{% block usermenu %}login{% endblock %}
{% block navmenu %} <a href="/">kråkeredet</a> &middot; <a href="/tournament/">konkurranser</a> {% endblock %}


{% block title %}Konkurranser{% endblock %}

{% block nav_block %}



{% for comp in comps %}
<div  id="test"  >  <a href="/tournament/{{ comp.pk }}/"> {{ comp.name }}  {{ comp.date }} </a>	</div>
{% endfor %}
<div class="bg">
<img src={% static "media/jkr.jpg" %} width="100%">
</div>
{% endblock %}

{% block body_block %}


{% endblock %}