{% extends 'base.html' %}
{% load staticfiles %}

{% block usermenu %}login{% endblock %}
{% block navmenu %}<a href="/">kråkeredet</a> &middot; <a href="/user/">kråker</a>{% endblock %}


{% block title %}Kråker{% endblock %}

{% block nav_block %}
<div>

{% for user in users %}

  <div  id="test"  ><a href="/user/{{ user.pk }}/">{{user.name}} </a> </div>
{% endfor %}
<div class="bg">
<img src={% static "media/brederen.jpg" %} width="1650px">
</div>

</div>





{% endblock %}

{% block body_block %}


{% endblock %}