table {
  font-family: 'Arial';
  margin: 25px;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  }
caption {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 1.3em;
  margin-left: -1px; /* Fix FF 1px issue */
    }

  tr:hover {
      background: #ddffff;
      }
      
  td {
      color: #555;
  		}
  th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }

a:link {
    color: #000000;
 text-decoration:none;  
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #000000;
}

#title {    
   text-align:center;
   padding:0px;
   width:100%;
   height:120px;
   line-height:120px;
   position:absolute;
   top: 70px;
   left: 0px;
   z-index:10;
   background: #ffffff;
   opacity: 1;
   }

#logo {    
   position:absolute;
   right:10%;
   top:0px;
   z-index:11;
   }

#topnav {    
   position:absolute;
   left:0px;
   top:0px;
   z-index:11;
   }


#nav {
   width:100%;
   height:100%;
   position:absolute;
   top: 0px;
   left: 0px;
   overflow: hidden;
}

#body {
   width:700px;
   height:500px;
   position:relative;
   top: 200px;
   left: 500px;
   background: #ffffff;
   opacity: 0.95;
   padding:15px;
}

#test {    
   position:relative;
   top: 250px;
   left:50px;
   height:40px;
   line-height:40px;
   width:200px;
   background: #ffffff;
   opacity: 0.5;
   text-align:center;
   padding:5px;
   outline-width:5px;
	margin: 15px;
   }


.bg {    
   position:absolute;
   top: 0px;
   left:0px;
   opacity: 0.8;
   z-index:-1;
   width:100%;
   height:100%;
   position:absolute;
   top: 0px;
   left: 0px;
   overflow: hidden;
   }

